* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top left, purple, red);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* position: relative; */
}

.container {
    margin: auto;
    margin-top: 10%;
    width: 800px;
    height: 60vh;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex: 1;
    /* justify-content: center;
    align-items: center; */
    background-color: black;
    /* transform: translate(12%, 100%); */
}

.player {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-0 {
    background-color: rgb(255, 150, 196);
    border-radius: 20px 0 0 20px;
}

.player-1 {
    background-color: rgb(255, 150, 196);
    border-radius: 0 20px 20px 0;
}

.active {
    background-color: pink;
    transition: all .5s;
}

.count {
    font-size: 50px;
    color: rgb(255, 56, 89);
}


.current {
    margin-top: 8rem;
    text-align: center;
    background-color: rgb(255, 99, 125);
    width: 12rem;
    height: 7rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.btns {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 41%;
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    text-align: center;
    padding: 15px 15px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.again {
    position: absolute;
    top: 40px;
}

.img {
    width: 80%;
    position: absolute;
    top: 110px;

}

.roll {
    position: absolute;
    top: 250px;
}

.hold {
    position: absolute;
    top: 320px;
}

.hidden {
    display: none;
}

.winner {
    background-color: #8d8d8d;
}